In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff

py.offline.init_notebook_mode(connected=True)

In [2]:
# Importing the dataset
zomato = pd.read_csv('zomato.csv')

# Viewing 5 random sample from the dataframe
zomato.sample(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
7866,18216929,Jain Restaurant,1,Noida,"Jiyaram Complex, Near Central Bank, Sector 22,...",Sector 22,"Sector 22, Noida",77.342575,28.595017,"North Indian, Chinese, South Indian",...,Indian Rupees(Rs.),No,Yes,No,No,2,3.0,Orange,Average,7
5219,148,Subway,1,New Delhi,"3, Satyam Cineplex, Nehru Place, New Delhi",Nehru Place,"Nehru Place, New Delhi",77.251157,28.550175,"American, Fast Food, Salad, Healthy Food",...,Indian Rupees(Rs.),No,No,No,No,2,3.6,Yellow,Good,142
5996,18332869,London Street Kitchen,1,New Delhi,"4A-59, Old, Rajinder Nagar, New Delhi",Rajinder Nagar,"Rajinder Nagar, New Delhi",77.182093,28.637391,"North Indian, Mughlai, Chinese",...,Indian Rupees(Rs.),Yes,Yes,No,No,2,4.2,Green,Very Good,163
5496,306749,Vikram Ji Snacks,1,New Delhi,"Main Market, Palam Colony, Palam, New Delhi",Palam,"Palam, New Delhi",77.090943,28.583969,Fast Food,...,Indian Rupees(Rs.),No,No,No,No,1,0.0,White,Not rated,3
7688,18340903,Aroma,1,Noida,"Shop 2, Paras Tierea, Sector 137, Near Sector ...",Sector 132,"Sector 132, Noida",77.413313,28.507446,"South Indian, North Indian, Street Food",...,Indian Rupees(Rs.),No,No,No,No,1,3.0,Orange,Average,4

In [3]:
# Size of the data
zomato.shape

(9551, 21)

In [4]:
# removing duplicates if any
zomato.drop_duplicates(subset = 'Restaurant ID', keep = 'first', inplace = True)

# Size of the data
zomato.shape

(9551, 21)

In [5]:
# replacing country codes to country names
zomato.replace({
    'Country Code' : {
        1 : 'India',
        14 : 'Australia',
        30 : 'Brazil',
        37 : 'Canada',
        94 : 'Indonesia',
        148 : 'New Zealand',
        162 : 'Phillipines',
        166 : 'Qatar',
        184 : 'Singapore',
        189 : 'South Africa',
        191 : 'Sri Lanka',
        208 : 'Turkey',
        214 : 'UAE',
        215 : 'United Kingdom',
        216 : 'United States',
    }
}, inplace = True)

# renaming col country code to country 
zomato.rename(columns = {'Country Code' : 'Country'}, inplace = True)

# 5 random samples of the data
zomato.sample(5)

,Restaurant ID,Restaurant Name,Country,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
1676,90744,Exotica,India,Hyderabad,"Opposite Audi Showroom, 5th Floor, 12th Square...","12th Square Building, Banjara Hills","12th Square Building, Banjara Hills, Hyderabad",78.437225,17.410371,"Mughlai, North Indian, Chinese",...,Indian Rupees(Rs.),Yes,Yes,No,No,3,4.3,Green,Very Good,3374
3205,312755,Mid Night Khana,India,New Delhi,"GTB Nagar, New Delhi",GTB Nagar,"GTB Nagar, New Delhi",77.095554,28.734090,"North Indian, Fast Food",...,Indian Rupees(Rs.),No,Yes,No,No,1,3.3,Orange,Average,30
6385,2215,China Bowl,India,New Delhi,"10, Satyaniketan Market, Opposite Venkateshwar...",Satyaniketan,"Satyaniketan, New Delhi",77.167434,28.587903,"Chinese, Thai, Japanese, Tibetan",...,Indian Rupees(Rs.),No,Yes,No,No,2,3.9,Yellow,Good,363
2403,18237315,Chaayos,India,New Delhi,"F-14/15, Mezzanine, 1st Floor, F Block, Inner ...",Connaught Place,"Connaught Place, New Delhi",77.220353,28.631465,"Cafe, Tea",...,Indian Rupees(Rs.),No,Yes,No,No,1,3.9,Yellow,Good,487
6178,309806,Lunia Italian,India,New Delhi,"B 3/1, Shanti Niwas, Arjun Nagar, Safdarjung, ...",Safdarjung,"Safdarjung, New Delhi",77.197389,28.561083,"Pizza, Fast Food",...,Indian Rupees(Rs.),No,No,No,No,1,3.4,Orange,Average,25

## Zomato India

In [6]:
zomato_India = zomato[zomato.Country == 'India']

zomato_India.sample(5)

,Restaurant ID,Restaurant Name,Country,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
4241,9596,Gopal (Sindhi) Restaurant,India,New Delhi,"1 & 2, Lal Sai Market, Lajpat Nagar 2, New Delhi",Lajpat Nagar 2,"Lajpat Nagar 2, New Delhi",77.246667,28.565974,"North Indian, Mughlai",...,Indian Rupees(Rs.),No,Yes,No,No,2,3.4,Orange,Average,59
3747,18458625,Pind Punjabi,India,New Delhi,"16&17, Mount Kailash, Kailash Colony, New Delhi",Kailash Colony,"Kailash Colony, New Delhi",0.000000,0.000000,North Indian,...,Indian Rupees(Rs.),No,Yes,No,No,2,3.0,Orange,Average,4
3867,309856,Chaudhary Sweets Corner,India,New Delhi,"10/18, Shakti Nagar, Near Roshanara Club, Kaml...",Kamla Nagar,"Kamla Nagar, New Delhi",77.196349,28.677217,"Desserts, Beverages",...,Indian Rupees(Rs.),No,No,No,No,1,3.8,Yellow,Good,36
7209,18429386,Two Friends Roll Corner,India,New Delhi,"A-124, New Ashok Nagar, Vasundhara Enclave, Ne...",Vasundhara Enclave,"Vasundhara Enclave, New Delhi",0.000000,0.000000,"Fast Food, Street Food",...,Indian Rupees(Rs.),No,No,No,No,1,0.0,White,Not rated,0
4565,452,Swagath,India,New Delhi,"C-8, Main Market, Malviya Nagar, New Delhi",Malviya Nagar,"Malviya Nagar, New Delhi",77.211617,28.536406,"North Indian, Chinese, Seafood, Chettinad",...,Indian Rupees(Rs.),Yes,No,No,No,3,3.5,Yellow,Good,168

In [7]:
# Lets remove some noise from zomato_India dataset
zomato_India.drop(columns = ['Restaurant ID', 'Country', 'Currency', 'Rating color'], inplace = True)

# shape of dataset
print(zomato_India.shape)

# 5 random samples
zomato_India.sample(5)

(8652, 17)

,Restaurant Name,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating text,Votes
1236,Djinggs,Gurgaon,"SCO 53, 3rd Floor, Sector 29, Gurgaon",Sector 29,"Sector 29, Gurgaon",77.064227,28.467934,"Asian, Seafood",1500,No,No,No,No,3,4.1,Very Good,105
7862,New Gee Pee,Noida,"Shop 1, F Block Market, Jal Vayu Vihar, Sector...",Sector 21,"Sector 21, Noida",77.336099,28.588036,"Fast Food, Chinese",300,No,No,No,No,1,3.3,Average,27
5810,Gupta Chat Corner,New Delhi,"1/51, Central Market, Near Guru Nanak School, ...",Punjabi Bagh,"Punjabi Bagh, New Delhi",77.133156,28.670016,"Fast Food, Street Food",300,No,No,No,No,1,3.7,Good,96
6348,Balaji Dhaba,New Delhi,"4, Satyaniketan Market, Satyaniketan, New Delhi",Satyaniketan,"Satyaniketan, New Delhi",77.168962,28.587691,North Indian,300,No,No,No,No,1,2.7,Average,11
6341,Krispy Kitchen,New Delhi,"Shop 1, P-2 Vikas Commercial Complex, Pillangi...",Sarojini Nagar,"Sarojini Nagar, New Delhi",77.201279,28.579720,"Chinese, Fast Food",300,No,No,No,No,1,0.0,Not rated,1

In [8]:
# So far in all the three or more samples, I have seen only 'NO' in 'Switch to order menu' and 'Is delivering now'
# Let us check this and remove these cols if they have all or most values as No.

print('Is delivering now : \n',zomato_India['Is delivering now'].value_counts(), '\n\n')
print('Switch to order menu : \n', zomato_India['Switch to order menu'].value_counts())

Is delivering now :
 No     8618
Yes      34
Name: Is delivering now, dtype: int64


Switch to order menu :
 No    8652
Name: Switch to order menu, dtype: int64

In [10]:
# So yeah, my guess was correct !
# we will remove these two cols from the data-frame

zomato_India.drop(columns = ['Is delivering now', 'Switch to order menu'], inplace = True)

# 5 random samples
zomato_India.sample(5)

,Restaurant Name,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating text,Votes
2675,Qash Retro Bar,New Delhi,"2512, 1st Floor, Hudson Lane, Kingsway Camp, O...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.204362,28.695802,"Finger Food, North Indian, Italian",2000,Yes,No,4,2.7,Average,81
5756,Teens Cafe Fast Food,New Delhi,"G-19, Plot 10, Local Shopping Complex, Preet V...",Preet Vihar,"Preet Vihar, New Delhi",77.295990,28.642852,Chinese,200,No,No,1,0.0,Not rated,0
66,Bubby Fish & Chicken Corner,Amritsar,"Near Crystal Chowk, Cooper Road, INA Colony, A...",INA Colony,"INA Colony, Amritsar",74.875828,31.635671,North Indian,300,No,No,1,3.5,Good,91
2679,Shammi Bhai Lassi Wala,New Delhi,"1B, Kingsway Camp Chowk, Delhi University-GTB ...",Delhi University-GTB Nagar,"Delhi University-GTB Nagar, New Delhi",77.204957,28.698953,"Chinese, Beverages",400,No,No,1,3.2,Average,45
3715,Starvin' Marvin,New Delhi,"Jasola, New Delhi",Jasola,"Jasola, New Delhi",77.297834,28.543623,"Italian, Mexican, Lebanese, Continental",600,No,Yes,2,3.8,Good,170

## Now lets do some visualisation !

In [9]:
cities10_name = zomato_India.City.value_counts()[:9].index
cities10_value_log = np.log(zomato_India.City.value_counts()[:9])

data = [go.Bar(
            x = cities10_name,
            y = cities10_value_log,
            text = cities10_name,
            marker=dict(
                color=['red', 'orange',
               'green', 'blue','violet',
               'rgba(204,204,204,1)','rgba(204,204,204,1)',
               'rgba(204,204,204,1)','rgba(204,204,204,1)',
               'rgba(204,204,204,1)']),
        )]

layout = go.Layout(
    title = 'Top 10 citites for zomato',
    xaxis = dict(
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        )
    ),
    yaxis = dict(
        title='Log10 of Number of Restaurant',
        tickfont=dict(
            size=14,
            color='rgb(107, 107, 107)'
        ),
        titlefont=dict(
            size=16,
            color='rgb(107, 107, 107)'
        ),
    )
)

fig = go.Figure(data = data, layout = layout)

py.offline.iplot(fig, filename='color-bar')

Seems like people of NCR are quiet foody as all top 5 cities are from NCR. <br />
The other suprising thing to note here is that cities like mumbai, banglore, hyderabad, chennai, kolkata are not in the top 10 for zomato !

In [11]:
zomato_India['Average Cost for two'].replace({
    0: zomato_India['Average Cost for two'].mean()
}, inplace = True)

zomato_India['Average Cost for two'].describe()

count    8652.000000
mean      624.018762
std       595.336340
min        50.000000
25%       300.000000
50%       450.000000
75%       700.000000
max      8000.000000
Name: Average Cost for two, dtype: float64

In [12]:
trace0 = go.Bar(
    x = zomato_India['Average Cost for two'].value_counts().index,
    y = np.log(zomato_India['Average Cost for two'].value_counts().values),
    text = (zomato_India['Average Cost for two'].value_counts().values),
)

layout = go.Layout(
    barmode ='group',
    shapes = [
        # Line reference to the axes
        {
            'type': 'line',
            'xref': 'x',
            'yref': 'y',
            'x0': 624.018762,
            'y0': 0,
            'x1': 624.018762,
            'y1': 8,
            'line': {
                'color': 'red',
                'width': 3,
                'dash': 'dashdot',
            },
        },
    ],
    annotations = [
        dict(
            x = 640,
            y = 7,
            xref = 'x',
            yref = 'y',
            text = 'Average Price = 624.018 Rs',
            showarrow = True,
            arrowhead = 3,
            ax = 100,
            ay = 0,
        )
    ],
    title = go.layout.Title(
        text='Avg Cost for 2',
    ),
    xaxis = go.layout.XAxis(
        title = go.layout.xaxis.Title(
            text = 'Average Price in Rs. for Two People',
            font = dict(
                family = 'Courier New, monospace',
                size = 18,
                color = '#7f7f7f'
            )
        )
    ),
    yaxis = go.layout.YAxis(
        title = go.layout.yaxis.Title(
            text = 'Log10 of Number of restaurants',
            font = dict(
                family = 'Courier New, monospace',
                size = 18,
                color = '#7f7f7f'
            )
        )
    )
)

data = [trace0]

fig = go.Figure(data = data, layout = layout)
py.offline.iplot(fig, filename='grouped-bar')

Average price is around 625Rs and most of the restaurants are 500Rs for 2 people.

In [13]:
zomato_India.sample(5)

,Restaurant Name,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Has Table booking,Has Online delivery,Price range,Aggregate rating,Rating text,Votes
4378,Sugar Blossoms,New Delhi,"132 Meharchand Market, Lodhi Road, Lodhi Colon...",Lodhi Colony,"Lodhi Colony, New Delhi",77.226937,28.582100,"Desserts, Bakery",300.0,No,No,1,3.6,Good,58
6444,Barista,New Delhi,"F-62, 1st Floor, Select Citywalk Mall, Saket, ...","Select Citywalk Mall, Saket","Select Citywalk Mall, Saket, New Delhi",77.219232,28.528437,Cafe,650.0,No,No,2,3.6,Good,99
3356,Wow! Momo,New Delhi,"8-A, Hauz Khas Village, New Delhi",Hauz Khas Village,"Hauz Khas Village, New Delhi",77.194795,28.554613,Chinese,350.0,No,Yes,1,3.4,Average,491
5882,Die Bï¿½_ckerei,New Delhi,"Aradhana Enclave, Sector 13, R K Puram, New Delhi",R K Puram,"R K Puram, New Delhi",77.178487,28.575160,"Bakery, Desserts",500.0,No,No,2,0.0,Not rated,0
1139,Gurgaon Mughlai Chicken,Gurgaon,"Rajiv Nagar, Near Apple Hospital, Sector 14, G...",Sector 14,"Sector 14, Gurgaon",77.035144,28.477162,"North Indian, Mughlai",350.0,No,No,1,0.0,Not rated,2

In [30]:
# Price range vs ratings || Average cost for 2 vs rating
zomato_India['Aggregate rating'].describe()

count    8652.000000
mean        2.523324
std         1.510986
min         0.000000
25%         2.100000
50%         3.100000
75%         3.600000
max         4.900000
Name: Aggregate rating, dtype: float64

In [36]:
pvr = go.Scatter(
    y = zomato_India['Aggregate rating'],
    x = zomato_India['Average Cost for two'],
    mode = 'markers',
    marker = dict(
        size = 6,
        color = zomato_India['Aggregate rating'], #set color equal to a variable
        colorscale = 'Viridis',
        showscale = True
    )
)

pvr_mean = go.Scatter(
    y = [2.523324],
    x = [624.018762],
    mode = 'markers',
    marker = dict (
        size = 8,
        color = 'red',
        showscale = False,
        text = ['Mean Rating, Mean price'],
    )
)

data = [pvr, pvr_mean]

py.offline.iplot(data, filename='scatter-plot-with-colorscale')

SyntaxError: invalid syntax (<ipython-input-36-886c0d299b26>, line 22)